.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
  width: 100%;
  max-width: 500px; 
  margin: 50px auto;
  background: white;
}

.Auth {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
}

.Image {
  background-image: url('../../images/lemon.jpg');
  height: 100%;
  width: 100%;
}