.ImageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Container {
  position: relative;
  max-width: 400px;
  height: 550px;
  padding: 1%;
  background: white;
  margin: 20px;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  p {
    width: 250px;
    text-align: center;
  }
}

.ImageContainer {
  height: 250px;
  width: 250px;
  padding: 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.ButtonContainer {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
