.ImageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Container {
  position: relative;
  max-width: 400px;
  height: 550px;
  padding: 1%;
  background: white;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    width: 250px;
    text-align: center;
    margin: 0;
    height: 80px;
  }
}

.Options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button:hover {
    transition: ease-out 0.5s;
    transform: scale(1.1);
  }
}

.ImageContainer {
  height: 250px;
  width: 250px;
  padding: 1rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.OptionsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-rows: 40px 40px;

}

.Title {
  text-decoration: none;
  color: black;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Likes {
  font-size: 2rem;
}