@import '../../../styles/util';

.ProfilePost {
  list-style-type: none;
  border: 4px double rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  margin: 5px 10px;

  span {
    color: black;
  }

  a {
    text-decoration: none;
  }
}
