@import '../../../styles/util';

.NavItems {
  display: flex;

  li {
    list-style: none;
    margin: 20px;

    a {
      text-decoration: none;
      color: $black;
      margin: 0 5px;
    }
  }
}