$black: #000000;
$nav-white: #f5f6fa;
$grey: #dcdde1;
$blue: #4545f5;
$dark-blue: #0101aa;
$red: #c0392b;
$dark-red: #a0190a;
$green: #44bd32;
$dark-green: #2da32d;

$valid-primary: #44bd32;
$valid-opacity: rgba(128, 206, 118, 0.8);